<div class='route-modal'><br />
  <div style='text-align: center;'>
    <Ui::Button @onClick={{this.back}} @title='Закрыть' />
  </div>
  {{#if this.tree}}

    <div class='columns is-centered recepie-tree__columns'>
      <div class='column recepie-tree__column'>
        {{#if this.ingridients.length}}

          <Ui::Card @title='Суммарные ингридиенты'>
            {{#each this.ingridients as |item|}}
              <div>
                {{item.locale}}
                ({{item.count}})
              </div>
            {{/each}}
          </Ui::Card>
        {{else}}
          <Ui::Card @title='Сам себе ингридиент' />
        {{/if}}
        <br />
        <Ui::RecepieTree::Level @data={{this.tree}} />
      </div>
    </div>
  {{/if}}

</div>