<Control::TextField @placeholder='Поиск' @onInput={{set this.search}} />

{{#if (not this.search)}}

  {{#each-in this.grouped_items as |key value|}}
    <article class='panel is-link'>
      <p class='panel-heading'>
        {{key}}
      </p>
      <div class='panel-block'>
        <div class='columns is-multiline' style='flex-grow: 1;'>
          {{#each value key='@index' as |recepie|}}
            <div class='column is-one-third'>
              <Ui::Recepie
                @data={{recepie}}
                @onRecepie={{this.openRecepieTree}}
                @edit_mode={{this.recepies.edit_state}}
              />
            </div>
          {{/each}}
        </div>
      </div>
    </article>
  {{/each-in}}

{{else}}
  <div class='columns is-multiline'>
    {{#each this.searched_items key='@index' as |recepie|}}
      <div class='column is-one-third'>
        <Ui::Recepie
          @data={{recepie}}
          @onRecepie={{this.openRecepieTree}}
          @edit_mode={{this.recepies.edit_state}}
        />
      </div>
    {{else}}
      Совпадений не найдено
    {{/each}}
  </div>
{{/if}}

{{outlet}}