<div class='container is-max-desktop'>
  <div class='content'>
    <Ui::Box>
      <div class='buttons'>
        <Ui::Button @title='Создать' @onClick={{this.create}} />
        <Ui::Button
          @title={{if
            this.recepies.edit_state
            'Закончить редактирование'
            'Редактирование'
          }}
          @onClick={{set
            this.recepies.edit_state
            (not this.recepies.edit_state)
          }}
        />
        {{#if (and this.recepies.has_changes this.recepies.isApp)}}
          <Ui::Button
            @title='Применить изменения'
            @onClick={{this.getChanges}}
          />
        {{/if}}
        <Ui::Button @title='Импорт' @onClick={{this.import}} />
        <Ui::Button
          @title='Экспорт'
          @onClick={{this.system.downloadActualData}}
        />

      </div>

      <Control::TextField @placeholder='Поиск' @onInput={{set this.search}} />

      <div class='' style='display: flex; gap: 15px; padding-bottom: 20px'>
        <div class=''>
          <Control::SelectField
            @options={{this.optionSearchType}}
            @idKey='id'
            @nameKey='name'
            @label='Режим поиска'
            @onChange={{this.setSearchType}}
            @value={{this.search_type}}
          />
        </div>
        <div class=''>
          <Control::SelectField
            @options={{this.optionSearchGroup}}
            @idKey='id'
            @nameKey='name'
            @label='Группировать поиск'
            @onChange={{this.setSearchGroups}}
            @value={{this.search_group}}
          />
        </div>
      </div>

      {{#if (or (not this.search) this.search_group.id)}}

        {{#each-in this.grouped_items as |key value|}}
          <Ui::Spoiler @title={{key}} @is_open_init={{this.search}}>
            <div class='columns is-multiline' style='flex-grow: 1;'>
              {{#each value key='@index' as |recepie|}}
                <div class='column is-one-third'>
                  <Ui::Recepie
                    @data={{recepie}}
                    @onRecepie={{this.openRecepieTree}}
                    @edit_mode={{this.recepies.edit_state}}
                    @init_open_ingridient={{and
                      this.search
                      (or (eq this.search_type.id 1) (eq this.search_type.id 2))
                    }}
                    @init_open_effect={{and
                      this.search
                      (eq this.search_type.id 3)
                    }}
                    @init_open_description={{and
                      this.search
                      (eq this.search_type.id 4)
                    }}
                    style='height: 100%;'
                  />
                </div>
              {{/each}}
            </div>
          </Ui::Spoiler>
        {{/each-in}}
      {{else}}

        <div class='columns is-multiline'>
          {{#each this.searched_items key='@index' as |recepie|}}
            <div class='column is-one-third'>
              <Ui::Recepie
                @data={{recepie}}
                @onRecepie={{this.openRecepieTree}}
                @edit_mode={{this.recepies.edit_state}}
                @init_open_ingridient={{and
                  this.search
                  (or (eq this.search_type.id 1) (eq this.search_type.id 2))
                }}
                @init_open_effect={{and this.search (eq this.search_type.id 3)}}
                @init_open_description={{and
                  this.search
                  (eq this.search_type.id 4)
                }}
                style='height: 100%;'
              />
            </div>
          {{else}}
            <div class='column'>
              Совпадений не найдено
            </div>

          {{/each}}
        </div>

      {{/if}}

    </Ui::Box>
  </div>
</div>
{{outlet}}