<Ui::Card
  @title={{concat (or @data.locale @data.name) ' (' this.final_count ')'}}
  @titleClick={{fn (optional @onRecepie) @data.id}}
  @disabled_content={{this.is_empty_content}}
  @disabled_footer={{not @edit_mode}}
  {{did-update
    this.updateToggle
    @init_open_ingridient
    @init_open_effect
    @init_open_description
  }}
  @header_class={{if this.is_empty_content 'recepie-card__header'}}
  @content_class='recepie-card__header'
  class='recepie-card {{if @no-fit "recepie-card_no-fit"}}'
  ...attributes
>
  <:title>
    {{#unless this.disabledTools}}
      <span>
        {{#if @data.timer}}
          <span
            style='top: 14px;
    right: 48px;
    position: absolute;'
          >
            {{@data.timer}}c
          </span>
        {{/if}}
        <img
          src={{this.src}}
          style='margin-top: 8px;
    margin-right: 10px;
    margin-left: 20px;'
        />
      </span>
    {{/unless}}
  </:title>
  <:content>
    {{#if @data.ingredients}}
      <div
        class='recepie-spoiler
          {{unless this.openIngridient "recepie-spoiler_close"}}'
      >
        <div
          class='recepie-spoiler__title'
          {{on 'click' (fn this.toggleSpoiler 'openIngridient' undefined)}}
        >
          Рецепт
        </div>
        <div class='recepie-spoiler__content'>
          {{#each @data.ingredients as |item|}}
            <div {{on 'click' (fn (optional @onRecepie) item.id)}}>
              {{#let (recepie item.id) as |ingredient|}}
                {{ingredient.locale}}

                {{#if (and @multy (not-eq @multy 1))}}
                  ({{!-- {{this.mult @data.count (or @multy 1)}}
              /
              {{@data.count}}
              = --}}{{this.mult
                    item.count
                    @multy
                  }})
                {{else}}
                  ({{item.count}})
                {{/if}}
              {{/let}}

            </div>
          {{/each}}
        </div>
      </div>

    {{/if}}

    {{#if @data.effects}}
      <div
        class='recepie-spoiler
          {{unless this.openEffect "recepie-spoiler_close"}}'
      >
        <div
          class='recepie-spoiler__title'
          {{on 'click' (fn this.toggleSpoiler 'openEffect' undefined)}}
        >
          Эффекты
        </div>
        <div class='recepie-spoiler__content'>
          {{#each @data.effects as |item|}}
            <p class='recepie-card__item'>
              {{item}}
            </p>
          {{/each}}
        </div>
      </div>

    {{/if}}

    {{#if @data.description}}
      <div
        class='recepie-spoiler
          {{unless this.openDescription "recepie-spoiler_close"}}'
      >
        <div
          class='recepie-spoiler__title'
          {{on 'click' (fn this.toggleSpoiler 'openDescription' undefined)}}
        >
          Описание
        </div>
        <div class='recepie-spoiler__content'>
          <div class='recepie-card__item'>
            {{@data.description}}
          </div>
        </div>
      </div>

    {{/if}}
  </:content>
  <:footer as |Item|>
    {{#if @edit_mode}}
      <Item @title='Редактировать' @onClick={{this.edit}} />
      <Item @title='Удалить' @onClick={{this.delete}} />
    {{/if}}

  </:footer>
</Ui::Card>