<div class='card' ...attributes>
  {{#if @title}}

    <header class='card-header {{@header_class}}'>
      <p
        class='card-header-title'
        style='margin-bottom: 0; padding: 0.5rem 0.75rem'
        {{on 'click' (optional @titleClick)}}
      >
        {{@title}}
      </p>
      {{#if (has-block 'title')}}
        {{yield to='title'}}
      {{/if}}
    </header>
  {{/if}}
  {{#unless @disabled_content}}
    {{#if (or (has-block) (has-block 'content'))}}

      <div class='card-content {{@content_class}}' style='padding: 0.75rem;'>
        <div class='content'>
          {{#if (has-block 'content')}}
            {{yield to='content'}}
          {{else}}
            {{yield}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/unless}}
  {{#unless @disabled_footer}}
    {{#if (has-block 'footer')}}
      <footer class='card-footer'>

        {{yield (component 'ui/button' class='card-footer-item') to='footer'}}

      </footer>
    {{/if}}
  {{/unless}}
</div>