<div class='container is-max-desktop'>
  <div class='content'>
    <Ui::Box>
      <div class='buttons'>
        <Ui::Button @title='Создать' @onClick={{this.create}} />
        <Ui::Button
          @title={{if
            this.recepies.edit_state
            'Закончить редактирование'
            'Редактирование'
          }}
          @onClick={{set
            this.recepies.edit_state
            (not this.recepies.edit_state)
          }}
        />
        {{#if this.recepies.has_changes}}
          <Ui::Button
            @title='Получить изменения'
            @onClick={{this.getChanges}}
          />
        {{/if}}
        <Ui::Button @title='Импорт' @onClick={{this.import}} />

      </div>
      {{outlet}}
    </Ui::Box>
  </div>
</div>