<button
  type='button'
  class='button is-{{or @type "link"}}
    is-{{@size}}
    {{if @is_light "is-light"}}
    {{@class}}'
  {{on 'click' (optional @onClick)}}
  ...attributes
>{{@title}}</button>